.loginpage__text{
    width: 258px;
    height: 34px;
    margin-top: 5px;
    border: 1px solid #dbdbdb;
    background-color: #fafafa;
    padding-left: 10px;
    border-radius: 5px;
}
.loginpage__button{
    width: 270px;
    height: 36px;
    border: 1px solid #0395f6;
    border-radius: 5px;
    background-color: #0395f6;
    color: #ffffff;
    font-weight: bold;
    margin-top: 15px;
}